# =========================
# Large models
# =========================
pretrained_models/

# =========================
# Experiment logs
# =========================
src/wandb/
src/logs/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Temporary
# =========================
tmp/
temp/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
